@import url('https://fonts.googleapis.com/css?family=Rubik');
body {
    font-family: 'Rubik', sans-serif;
    
}
* {
	box-sizing: content-box;
}
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
article {
    background-color: #CCC;
	width: 180px;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
}

article>header {
	background: #5F5F5F;
	color: white;
	margin: 0px 0px 10px 0px;
	padding: 4px 6px;
}

article>header>h1 {
	margin: 0px;
}

article>select {
	width: 178px;
}

article>input {
	width: 176px;
}

article>button {
	display: block;
	margin: 10px auto 0px auto;
	border: none;
	border-radius: 3px;
	padding: 5px 15px;
	background: green;
	color: white;
	font-weight: bold;
}

article>button:hover {
	box-shadow: 0px 0px 10px white;
	cursor: pointer;
}

button#btnDelete {
	background: red;
}

#result {
	display: none;
	width: 50%;
	margin: 10px auto;
	padding: 10px 15px;
	background: #DDD;
	border-radius: 5px;
	border: 1px solid #777;
=======
select, input {
	width: 100px;
}
.wrapper {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.add-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

h1 {
    background-color: #808080; /* Darker gray */
    padding: 10px;
    border-radius: 5px;
    /*font-family: 'Courier New', Courier, monospace; /* Fancy lettering */
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

* {
    box-sizing: border-box;
    max-width: 400px; /* Predefined max length */
 main
}
