select, input {
	width: 100px;
}
.wrapper {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

h1 {
    background-color: #808080; /* Darker gray */
    padding: 10px;
    border-radius: 5px;
    /*font-family: 'Courier New', Courier, monospace; /* Fancy lettering */
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

* {
    box-sizing: border-box;
    max-width: 400px; /* Predefined max length */
}